
<VirtualHost *:80>
	ServerAdmin {{ apache_server_admin }}
	ServerAlias {{ apache_server_alias }}

	<Directory {{ apache_root_dir }}>
		Options Indexes FollowSymLinks MultiViews
		AllowOverride All
		Order allow,deny
		allow from all
	</Directory>

</VirtualHost>